# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/

# PyInstaller build output
build/
dist/
*.spec

# Temp audio files
*.wav

# OS
.DS_Store
Thumbs.db
desktop.ini
